body, #app {
  .el-tree {
    background: transparent;
    color: #333;
    margin-top: 8px;

    &-node {
      white-space: normal;

      &__label {
        font-size: 12px;
        line-height: 1;
        font-family: "Roboto", sans-serif;
      }

      &__expand-icon {
        padding: 3px;
      }

      &__content {
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;

        &:hover {
          background: #eaeaea;
        }
      }

      &.is-current {
        > .el-tree-node__content {
          background: #dedede;
        }
      }
    }
  }

  .el-tag {
    font-family: "Roboto", sans-serif;
    border-radius: 2px;
  }

  .el-button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    min-height: auto;
  }

  .el-alert {
    font-family: "Roboto", sans-serif;
    line-height: 1;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.05);

    &__content {
      padding: 0;
    }

    &__title {
      line-height: 1;
      font-size: 12px;
      font-family: "Roboto", sans-serif;
    }

    &__closebtn {
      top: 9px;
      right: 10px;
    }
  }

  .el-form {
    &-item, &-item--mini {
      margin-bottom: 10px !important;
      &__label {
        line-height: 1 !important;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        padding-bottom: 2px !important;
        color: #777;
      }
    }
  }

  .el-select{
    width: 100%;
  }

  .el-input--mini, .el-input {
    line-height: 1;

    .el-input__inner {
      border-radius: 2px;
      line-height: 1;
      height: auto;
      padding: 3px 8px;
      font-size: 12px;
      font-family: "Roboto", sans-serif;
    }

    .el-input__suffix {
      right: 0;

      .el-input__icon {
        line-height: 1;
        padding: 4px;
      }

    }
  }

  .el-autocomplete {
    width: 100%;
  }

  .el-textarea {
    &__inner {
      border-radius: 2px;
      line-height: 1.1;
      padding: 6px 8px;
      font-size: 12px;
      font-family: "Roboto", sans-serif;
    }
  }

  .el-overlay {
    .el-drawer {
      overflow: hidden;

      &__header {
        padding: 5px 15px;
        border-bottom: 1px solid #eee;
        box-shadow: 0 0 10px rgba(50, 50, 50, 0.1);
        margin-bottom: 0;

        > span {
          font-weight: 600;
          color: #333;
          font-size: 14px;
        }
      }

      &__body {
        padding: 15px 15px 55px 15px;
        height: calc(100vh - 36px);
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }

  .el-popper{
    border-radius: 2px;
    &.el-select__popper{
      .el-select-dropdown{
        &__item{
          font-size: 12px;
          font-family: "Roboto",sans-serif;
          padding: 5px 16px 5px 8px;
          line-height: 1;
          height: auto;
          font-weight: 400;
        }
      }
    }
  }
}


